body {
  margin: 0;
  background: #23252c;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 15px;
  height: auto;
  position: relative;
}

.photo,
.body {
  width: 300px;
  border-radius: 15px 15px 0px 0px;
}

.information {
  margin: 0 20px;
  margin-bottom: 20px;
}

.information > p {
  color: #4a4e74;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.email-button {
  width: 115px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.github-button {
  width: 115px;
  height: 34px;
  background: #297fe5;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.footer {
  width: 300px;
  height: 50px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.website {
  margin-top: 0;
}

.profession {
  color: #f47d27;
  margin-top: 0;
  margin-bottom: 10px;
}

.email-logo {
  width: 15px;
  margin-right: 5px;
}

.footer-logo {
  width: 25px;
  cursor: pointer;
}

.topic {
  text-align: center;
}

.image-selector {
  width: 70px;
  position: absolute;
  cursor: pointer;
  right: 10px;
}

.title {
  font-size: 15px;
}
